#main {
  background-color: #000000;
  position: relative;
}
.squares {
  margin: 1px;
  padding: 0;
  background-color: #ffffff;
  display: inline-block;
  float: left;
}
.hover {
  background-color: #ffcccc;
}

  button {border-radius: 50%;
    font-size: 25px;
    background-color: white;
    padding: 4px;
    border: 4px dotted red;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
